nav {
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f4d6de;
    margin-top: -8px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    gap: 300px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #613613;
    font-size: 1.5em;
    transition: all 100ms ease-in-out;
}

a:hover {
    color: #e59494;
}

li {
    transition: all 100ms ease-in-out;
}

li:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1400px) {
    li {
        width: 200px;
    }

    ul {
        margin: 0 40px;
        gap: 100px;
    }
}

@media screen and (max-width: 800px) {
    a {
        font-size: 1em;
    }

    li {
        width: 200px;
    }

    ul {
        margin: 0;
        gap: 10px;
    }
}