nav {
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: #613613;
    font-size: 1.5em;
    transition: all 100ms ease-in-out;
}

a:hover {
    color: #e59494;
}

li {
    transition: all 100ms ease-in-out;
}

li:hover {
    transform: scale(1.1);
}