.desc-left {
    background-color: #ffe6eee0;
    padding: 10px;
    margin: 5px 20px;
    text-align: left;
    margin-right: 150px;
}

.desc-right {
    background-color: #ffe6eee0;
    padding: 10px;
    margin: 5px 20px;
    text-align: left;
    margin-left: 150px;
}

.descriptions {
    background-image: url("~src/assets/private-classes-bg.png");
    background-size: cover;
    width: 30%;
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.content {
    display: flex;
    justify-content: space-between;
}

.group-classes {
    text-align: center;
    margin: -8px;
}

textarea {
    resize: none;
}

h3 {
    margin-bottom: 10px;
}

input[type='radio'] {
    margin: 10px;
}

input[type='radio']:hover {
    cursor: pointer;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid black;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #B4C4AB;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid black;
}

.button {
    background-color: #B4C4AB;
    padding: 10px;
    margin: 10px;
    transition: all 100ms ease-in-out;
    border: 1px solid black;
}

.button:hover:enabled {
    background-color: #d6e9cc;
    cursor: pointer;
}

.button:disabled {
    color: rgb(90, 90, 90);
    background-color: rgb(205, 205, 205);
}

.error {
    color: #B4C4AB;
    font-weight: bold;
}

.form {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

.right {
    flex-grow: 2;
}

.waiver-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review {
    text-align: left;
    margin: 0 20%;
    white-space: pre-line;
}

a {
    text-decoration: underline;
    cursor: pointer;
}

.waiver {
    background-color: white;
    width: 600px;
    text-align: left;
    padding: 20px;
    font-family: sans-serif;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.336);
}

.submit {
    width: 800px;
    margin: 0 auto;
    text-align: left;
}

signature-pad {
    background-color: white;
}

canvas {
    background-color: rgb(232, 219, 219);
}

@media screen and (max-width: 1400px) {
    .descriptions {
        display: none;
    }

    .waiver {
        width: 60%;
    }

    .submit {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .descriptions {
        display: none;
    }

    .form {
        flex-direction: column;
        align-items: center;
    }

    .waiver {
        width: 80%;
    }
}