<div class="group-classes">
    <app-navbar></app-navbar>
    <form id="private-form" [formGroup]="bookingForm" (ngSubmit)="submit()">
        <div class="content">
            <div class="descriptions">
                <!--<div class="desc-left"><b>Restorative:</b> A style of yoga that focuses on relaxation of the body and
                    mind. Asanas are held for longer, often with the use of props so that your body feels totally
                    supported. Pranayama techniques and meditations will be incorporated throughout. Perfect for any
                    level of experience, and those looking for a meditative, calm practice!</div>
                <div class="desc-right"><b>Yin:</b> A style of yoga focusing on deep stretches held for a long time,
                    allowing you to go to your edge as we work to find stillness in discomfort. Pranayama techniques and
                    mindfulness will be used to aid us with body awareness and turning inwards. A great practise for any
                    level of experience and those looking for deep stretches and a mind-body experience</div> -->
                <div class="desc-left"><b>Hatha:</b> A style of yoga where we move through a variety of asanas slowly
                    and intentionally, finding the right alignment for our bodies, often using props for support. Hatha
                    is great for both flexibility and strength. Pranayama is used throughout to help us stay present,
                    and lengthen and strengthen muscles. Perfect for all levels of practise and those looking for
                    movement at a slow pace.</div>
                <div class="desc-right"><b>Vinyasa:</b> A fast paced practice that flows through asanas, binding breath
                    to movement. Sun salutations are a staple of the vinyasa practise, and will often be used to start
                    the flow and create warmth in the body. Each asana is linked together in a fluid movement, and
                    pranayama is a consistent focus as we move. A wonderful practise for those with experience on the
                    mat, and those who are looking to challenge themselves with a quick pace.</div>
                <!--<div class="desc-left"><b>Slow Flow:</b> Vinyasa style asanas and flow, hatha style pace, with more
                    breaths per asana. Perfect for those who are new to vinyasa, or who are seeking a nice relaxing
                    flow.</div> -->
            </div>
            <div class="right" *ngIf="!review">
                <h1>Group Classes</h1>
                <div class="special-offer">SPECIAL OFFER: Buy one group class, get one free!</div>
                <div class="form">
                    <div class="personal-info">
                        <h3>Your Name*</h3>
                        <div *ngIf="this.requiredFields[0]" class="error">Please type your name</div>
                        <input type="name" id="name" name="name" required formControlName="name" size="35">
                        <h3>Phone Number*</h3>
                        <div *ngIf="this.requiredFields[5]" class="error">Please type your phone number</div>
                        <input type="phone" id="phone" name="phone" required formControlName="phone" size="35">
                        <h3>Email*</h3>
                        <div *ngIf="this.requiredFields[6]" class="error">Please type your email</div>
                        <input type="email" id="email" name="email" required formControlName="email" size="35">
                        <h3>Additional Information</h3>
                        <textarea id="additional-information" name="additional-information" cols="35" rows="7"
                            placeholder="Any extra things that would be helpful for me to know about you, including ways I can make the class more accessible/comfortable for you, previous injuries, etc."
                            formControlName="additionalInfo"></textarea>
                    </div>
                    <div class="text-input">
                        <h3>Class Dates*</h3>
                        <app-small-calendar (dateSelect)="setDate($event)"></app-small-calendar>
                    </div>
                </div>
                <br><br><input type="button" (click)="review = true" value="Next" class="button"
                    [disabled]="!bookingForm.valid">
            </div>
            <div class="right" *ngIf="review && !waiver">
                <h1>Group Classes</h1>
                <h2>Review</h2>
                <div class="review">
                    <div><b>Name:</b> {{bookingForm.value.name}}</div>
                    <div><b>Phone:</b> {{bookingForm.value.phone}}</div>
                    <div><b>Email:</b> {{bookingForm.value.email}}</div><br>
                    <div *ngIf="bookingForm.value.additionalInfo !== ''"><b>Additional
                            Information:</b><br>{{bookingForm.value.additionalInfo}}</div><br>
                    <div><b>Dates:</b>{{bookingForm.value.date}}</div><br><br>
                    <div><b>Total:</b> {{total | currency}}</div>
                </div>
                <br><br><input type="button" (click)="review = false" value="Back" class="button">
                <button type="button" class="button" (click)="waiver = true">Next</button>
            </div>
            <div class="right waiver-container" *ngIf="waiver && !submitted">
                <h1>Group Classes</h1>
                <h2>Waiver</h2>
                <div class="waiver">
                    <p>&emsp;I, <b>{{bookingForm.value.name}}</b>{{content.waiver1}}</p>
                    <p>&emsp;{{content.waiver3}}</p>
                    <p>&emsp;{{content.waiver4}}</p>
                    <p>&emsp;{{content.waiver5}}</p>
                    <p>Participant Name: <b>{{bookingForm.value.name}}</b></p>
                    <p>Date: <b>{{today | date}}</b></p>
                    <p>Participant Signature: <button type="button" (click)="signing = true">Click here to sign</button>
                    <p *ngIf="signing">
                        <signature-pad #signature [options]="signaturePadOptions" (drawStart)="drawStart($event)"
                            (drawEnd)="drawComplete($event)"></signature-pad>
                        <br>
                        <button type="button" (click)="clear()">Clear</button>
                    </p>
                </div>
                <br><br>
                <div>
                    <input type="button" (click)="waiver = false" value="Back" class="button">
                    <button type="button" class="button" (click)="submit()" [disabled]="!signed">Submit</button>
                </div>
            </div>
            <div *ngIf="submitted" class="right">
                <h1>Group Classes</h1>
                <div *ngIf="booking">
                    Booking class, please wait...
                </div>
                <div *ngIf="!booking">
                    <div *ngIf="!error">
                        <h2>Class Booked</h2>
                        <div class="submit">
                            <p>Thank you! Your booking has been sent successfully.</p>
                            <p>Please e-transfer your total (<span>{{total | currency}}</span>) to kiraayogaa@gmail.com.
                                The meeting link will be sent to
                                you once payment is received.</p>
                        </div>
                    </div>
                    <div *ngIf="error">
                        <h2>Error Booking Class</h2>
                        <div class="submit">Sorry, there was a problem booking the class. Please try again later.</div>
                    </div>
                    <button type="button" class="button" routerLink="/">Home</button>
                </div>
            </div>
        </div>
    </form>
</div>