@font-face {
    font-family: basic;
    src: url(assets/Cutive_Mono/CutiveMono-Regular.ttf);
}

body {
    background-color: #FFE6EE;
    font-family: basic;
}

input[type="text"]
{
    font-family: basic;
}

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }