@font-face {
    font-family: basic;
    src: url(assets/Cutive_Mono/CutiveMono-Regular.ttf);
}

body {
    background-color: #FFE6EE;
    font-family: basic;
    color: #613613;
}

input[type="text"],
input[type="button"],
button[type="button"],
button[type="submit"] {
    font-family: basic;
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}