.home {
    text-align: center;
    padding: 0 20%;
}

.home-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.middle-col {
    padding: 20px;
    text-align: left;
}

.star {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

@media screen and (max-width: 800px) {
    .home {
        padding: 0 20px;
    }

    .home-container {
        flex-direction: column;
    }

    .video {
        width: 100%;
        height: 50vw;
    }

    .main-pic {
        height: auto;
        width: 100%;
    }
}