<div class="home">
  <div>
    <img src="assets/logo.png" height="200px">
  </div>
  <a href="https://www.instagram.com/kiraayogaa"><img src={{igLogo}} height="50px" /></a>
  <a href="https://www.tiktok.com/@kiraayogaa"><img src={{tiktokLogo}} height="50px" /></a>
  <div class="email">KiraaYogaa@gmail.com</div>
  <app-navbar></app-navbar>
  <div class="home-container">
    <div>
      <div class="schedule">
        <div>In person and online Vinyasa classes</div>
        <div>Mondays at 7:00pm through</div>
        <div><a href="https://www.livewithspirit.ca/classschedule">Live With Spirit Studio Whitby</a></div>
        <div class="separation">Online Hatha classes</div>
        <div>Thursdays at 7:00pm and Sundays at 6:00pm</div>
        <div><a routerLink="/group-classes" routerLinkActive="active" ariaCurrentWhenActive="page">Here</a></div>
      </div>
      <div class="inline">
        <img src="assets/image3.jpeg" height="250px" class="main-pic" />
        <img src="assets/Image13.jpeg" height="250px" class="main-pic" />
      </div>
    </div>
    <div>
      <img src="assets/image11.jpg" height="380px" class="main-pic" />
      <div class="right-col">
        <iframe style="border-radius:12px"
          src="https://open.spotify.com/embed/playlist/2PsqJurJzWkQ51By9eGVi0?utm_source=generator" width="100%"
          height="200px" frameBorder="0" allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
    </div>
    <div>
      <img src="assets/quote.png" height="120px" class="main-pic" />
      <img src="assets/image2.jpeg" height="410px" class="main-pic" />
    </div>
    <div>
      <img src="assets/Image14.jpg" height="265px" class="main-pic" />
      <img src="assets/Image12.jpg" height="265px" class="main-pic" />
    </div>
  </div>
</div>
<div *ngFor="let star of starPos; index as i" class="star"
  [ngStyle]="{'top': star.y+'px', 'left': star.x+'px', 'transform': 'rotate('+this.randomTurn()+'deg)'}"><img
    src={{this.randomStar(i)}} /></div>