.home {
    text-align: center;
    padding: 0 20%;
}

.home-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.middle-col {
    padding: 20px;
    text-align: left;
}

.star {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.email {
    color: #613613;
}

.inline {
    display: flex;
    gap: 10px;
}

.schedule {
    margin-bottom: 10px;
    font-size: 20pt;
}

a {
    color: #e59494;
}

.separation {
    margin-top: 10px;
}

.nav {
    display: flex;
    gap: 80px;
    justify-content: center;
    padding: 20px;
}

.nav-option {
    color: #613613;
    font-size: 1.5em;
    transition: all 100ms ease-in-out;
    cursor: pointer;
    border: 1px solid #e59494;
    padding: 5px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-option:hover {
    transform: scale(1.1);
    color: #e59494;
}

.right-col {
    height: 200px;
}

@media screen and (max-width: 1400px) {
    .home {
        padding: 0 10%;
    }

    .home-container {
        flex-wrap: wrap;
        align-items: center;
    }

    .main-pic {
        height: auto;
        width: 50%;
    }

    .spotify-container,
    .quote-container,
    .last-container {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .right-col {
        width: 50%;
        height: 500px;
    }
}

@media screen and (max-width: 800px) {
    .home {
        padding: 0 20px;
    }

    .home-container {
        flex-direction: column;
    }

    .video {
        width: 100%;
        height: 50vw;
    }

    .main-pic {
        height: auto;
        width: 100%;
    }

    .inline {
        flex-direction: column;
    }

    .spotify-container,
    .quote-container,
    .last-container {
        flex-direction: column;
    }

    .right-col {
        width: 100%;
    }
}