.home {
    text-align: center;
    padding: 0 20%;
}

.home-container {
    display: flex;
}

.middle-col {
    padding: 20px;
    text-align: left;
}

.star {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
