<div>Click on green and pink days<br>to see class information</div>
<div class="calendar">
    <div class="header">
        <div class="month">{{monthString(curMonth)}},{{curYear}}</div>
        <div class="month">
            <button type="button" (click)="prevMonth()">&lt;</button>
            <button type="button" (click)="nextMonth()">&gt;</button>
        </div>
    </div>
    <div class="week">
        <div class="box">Su</div>
        <div class="box">Mo</div>
        <div class="box">Tu</div>
        <div class="box">We</div>
        <div class="box">Th</div>
        <div class="box">Fr</div>
        <div class="box">Sa</div>
    </div>
    <div class="week" *ngFor="let week of weeks">
        <div class="box" *ngFor="let day of week">
            <div *ngIf="day !== 0" class="day" [class.disabled]="dayDisabled(day)" [class.available]="dayAvailable(day)"
                [class.viewonly]="dayViewOnly(day)" (click)="check(day)">{{day}}</div>
        </div>
    </div>
</div>
<br *ngIf="checking">
<div class="calendar" *ngIf="checking">
    <div class="header">
        <div class="month">{{checkDate | date}}</div>
        <div class="month">
            <button type="button" (click)="checking=false">X</button>
        </div>
    </div>
    <div class="time" *ngFor="let yogaClass of getClasses(checkDate)">
        <div>
            <div><b>{{yogaClass.type}}</b></div>
            <div><b>{{yogaClass.price | currency}}</b></div>
            <div class="location">{{yogaClass.location}}</div>
        </div>
        <div>
            <div>{{getTime(yogaClass.date)}}</div>
            <div>{{yogaClass.duration}}</div>
        </div>
        <input type="button" class="select" [class.selected]="daySelected(yogaClass.date)"
            value="{{daySelected(yogaClass.date) ? 'Deselect' : 'Sign up'}}" (click)="select(yogaClass.date)"
            *ngIf="!yogaClass.viewOnly">
        <a href="https://www.livewithspirit.ca/classschedule" class="select" *ngIf="yogaClass.viewOnly">Sign up</a>
    </div>
</div>
<div *ngIf="selected.length > 0">
    <br>
    <div *ngIf="selected.length === 1">1 class selected</div>
    <div *ngIf="selected.length > 1">{{selected.length}} classes selected</div>
</div>